/* promo */
.aboard__promo {
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
    url(../imgs/promo.png);
}
.aboard__promo .promo__context {
  width: 90%;
}
.aboard__promo .promo__context-title {
  text-align: start;
}
/* audience */
#audience {
  max-width: 1320px;
  margin-top: 120px;
}
.audience__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 50px;
  height: 560px;
}
.audience__col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -2%;
}
.audience__item {
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}
.audience__item--big {
  height: 390px;
  flex-direction: column;
}
.audience__item--small {
  height: 160px;
  align-items: start;
}
.audience__num {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.audience__num-circle {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
/* item 1 */
.audience__item--1 {
  background: url(../imgs/korea_promo.png) center/cover no-repeat;
  color: #fff;
}
.audience__item--1 .audience__num-circle {
  background: #fff;
  color: #074e62;
}
/* item 2 */
.audience__item--2 {
  background: #074e62;
  color: #fff;
}
.audience__item--2 .audience__num-circle {
  background: #fff;
  color: #074e62;
}
/* item 3 */
.audience__item--3 {
  background: #fff;
  color: #074e62;
}
.audience__item--3 .audience__num-circle {
  background: #074e62;
  color: #fff;
}
/* item 4 */
.audience__item--4 {
  background: url(../imgs/Rectangle\ 4.png) center/cover no-repeat;
  color: #fff;
  width: 49%;
}
.audience__item--4 .audience__num-circle {
  background: #fff;
  color: #074e62;
}
/* item 5 */
.audience__item--5 {
  background: url(../imgs/Rectangle\ 4.png) center/cover no-repeat;
  color: #fff;
  width: 49%;
}
.audience__item--5 .audience__num-circle {
  background: #074e62;
  color: #fff;
}
.audience__item--2 .audience__num,
.audience__item--3 .audience__num {
  width: 15%;
}
/* choose */
#choose {
  width: 100%;
  margin-top: 120px;
  max-width: unset;
}
#choose .section__titles {
  width: 100%;
  text-align: center;
}
.choose__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 420px;
  margin-top: 50px;
}
.choose__decor {
  width: 20%;
  height: 420px;
}
.choose__decor--left {
  border-radius: 0 20px 20px 0;
  background: url(../imgs/england_promo.png) center/cover no-repeat;
}
.choose__decor--right {
  border-radius: 20px 0 0 20px;
  background: url(../imgs/england_promo.png) center/cover no-repeat;
}
.choose__content-info {
  width: 58%;
  height: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose__content-info p {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
}
.choose__content-info p span {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #07708e;
}
/* rewards */
#rewards {
  margin-top: 120px;
}
.rewards__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 290px;
  margin-top: 20px;
  gap: 20px;
}
.rewards__item {
  background: #ffffff;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.rewards__item-icon img {
  width: 144px;
  height: 144px;
}
.rewards__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  text-align: center;
  margin-top: 10px;
}
