/* buttons */
.btn {
  background: #074e62;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  transition: all 0.5s ease;
  font-family: 'Montserrat', sans-serif;
}
.swiper__btn {
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.swiper__btn i {
  color: #074e62;
  font-size: 40px;
  transition: all 0.5s ease;
}
.swiper__btn i:hover {
  scale: 1.2;
}
/* sections */
.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.section__titles {
  font-weight: 700;
  font-size: 64px;
  line-height: 85%;
  letter-spacing: -4%;
}
.section__titles span {
  color: #074e62;
}
/* swiper */
.swiper {
  width: 100%;
  overflow: hidden;
}
.swiper-wrapper {
  display: flex;
  align-items: center;
}
.swiper-slide {
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper__nav {
  display: flex;
  gap: 16px;
}
/* promo */
#promo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 648px;
  width: 1320px;
  margin-top: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 50px;
}
.promo__context {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: 70%;
  gap: 20px;
}
.promo__context-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 85%;
  letter-spacing: -4%;
  color: #ffffff;
}
.promo__context-subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
}
.promo__context-btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -4%;
  border-radius: 52px;
  margin-top: 10px;
}
.promo__context-btn:hover {
  scale: 1.05;
}
.promo__flags {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 15px;
}
.promo__flags img {
  transition: all 0.5s ease;
  cursor: pointer;
}
.promo__flags img:hover {
  scale: 1.2;
}
.flags__mute img:not(.main__flag) {
  filter: brightness(40%);
}
/* rewievs */
.reviews {
  width: 100%;
  max-width: 1320px;
  margin-top: 120px;
}
.reviews__swiper {
  width: 100%;
  height: auto;
}
.reviews__swiper .swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.reviews__swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.review__item {
  width: 100%;
}
.review__item {
  background: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review__author {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
}
.review__author-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.review__author-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.review__author-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -2%;
}
.review__author-level {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #818181;
}
.review__content {
  border-radius: 20px;
  background-color: #074e62;
  padding: 20px;
  flex: 1;
}
.review__content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;

  border-radius: 8px;
  padding: 20px;
  background: #ffffff;
  height: 100%;
}
.reviews__nav-mob {
  display: none;
}
/* faq */
#faq {
  width: 100%;
  max-width: 1320px;
  margin-top: 120px;
}
.faq__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq__btn {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -2%;
  border-radius: 70px;
}
.faq__btn:hover {
  scale: 1.05;
}
.faq__content {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.faq__item-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.faq__item-question p {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -2%;
  width: 90%;
}
.faq__toggle {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background: #074e62;
  color: #ffffff;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.faq__toggle:hover {
  scale: 1.1;
}
.faq__toggle.rotated {
  transform: rotate(180deg);
}
.faq__item-answer {
  max-height: 0;
  overflow: hidden;
  background: #074e62;
  border-radius: 12px;
  padding: 0 20px;
  transition: all 0.5s ease;
  opacity: 0;
}
.faq__item-answer.active {
  padding: 20px;
  max-height: 300px;
  opacity: 1;
}
.faq__item-answer p {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}
.faq__btn-mob {
  display: none;
}
/* trial */
#trial {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.trial__promo {
  min-height: 412px;
  background-image: url(../imgs/about_promo.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  border: 10px solid #074e62;
}
.trial__content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  border-radius: 20px;
}
.trial__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 68%;
  letter-spacing: -2%;
}
.trial__title span {
  color: #074e62;
}
.trial__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;

  margin-top: 20px;
  color: #31313199;
}
/* form */
.trial-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.trial-form__input {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 8px;
  padding: 0 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;

  background: #f3f3f3;
  margin-bottom: 5px;
  transition: border-color 0.2s;
  outline: none;
}
.trial-form__btn {
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}
.trial-form__btn:hover {
  scale: 1.02;
}
.trial-form__btn[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
/* WIDJET WP */
.whatsapp-widjet {
  position: fixed;
  bottom: 25px;
  right: 25px;
  border: 1px solid #074e62;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 140;
  transition: all 0.5s ease;
  background: #074e62;
  cursor: pointer;
}
.whatsapp-widjet-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.whatsapp-widjet-icon svg {
  fill: #fff;
  width: 30px;
  height: 30px;
}
.whatsapp-widjet-circle-left {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  left: 0;
}
.whatsapp-widjet-circle-left {
  border: 1px solid #074e62;
  position: absolute;
  top: -7px;
  bottom: 0;
  left: -7px;
  right: 0;
  background-clip: padding-box;
  width: 36px;
  height: 72px;
  border-radius: 76px 0 0 76px;
  border-right: none;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: pie-left 4s both linear infinite;
  -moz-animation: pie-left 4s both linear infinite;
  -ms-animation: pie-left 4s both linear infinite;
  -o-animation: pie-left 4s both linear infinite;
  animation: pie-left 4s both linear infinite;
}
.whatsapp-widjet-circle-right {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  right: 0;
}
.whatsapp-widjet-circle-right {
  border: 1px solid transparent;
  position: absolute;
  top: -7px;
  bottom: 0;
  left: 0;
  right: -7px;
  background-clip: padding-box;
  width: 36px;
  height: 72px;
  border-radius: 76px 0 0 76px;
  border-right: none;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: pie-right 4s both linear infinite;
  -moz-animation: pie-right 4s both linear infinite;
  -ms-animation: pie-right 4s both linear infinite;
  -o-animation: pie-right 4s both linear infinite;
  animation: pie-right 4s both linear infinite;
}
@keyframes pie-left {
  0% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  10% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  20% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  40% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
}
/* trial modal */
.trial-modal {
  position: fixed;
  background: #fff;
  padding: 50px;
  z-index: 1001;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(-50%, -60%);
  transition: 0.3s ease;
}
.trial-modal.modal--active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translate(-50%, -50%);
}
.trial-modal__header {
  display: flex;
  justify-content: space-between;
}
.trial-modal__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 90%;
  letter-spacing: -4%;
  color: #074e62;
}
.trial-modal__header i {
  font-size: 25px;
  margin-top: -15px;
}
.trial-modal__header i:hover {
  color: #074e62;
}
.trial-modal__subtitle {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #31313199;
}
/* overplay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 1000;
}
.overlay.active {
  opacity: 1;
  pointer-events: auto;
}
/* certs */
.cert-modal {
  position: fixed;
  background: #fff;
  padding: 30px;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cert-modal.modal--active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translate(-50%, -50%);
}
.cert-modal__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cert-modal__header-name {
  width: 95%;
  font-weight: 700;
  font-size: 38px;
  line-height: 90%;
  letter-spacing: -4%;
  color: #074e62;
  text-align: center;
}
.cert-modal__header i {
  font-size: 25px;
  margin-top: -15px;
}
.cert-modal__header i:hover {
  color: #074e62;
}
.cert-modal__photo {
  width: 400px;
  height: 500px;
  margin-top: 20px;
}
.cert-modal__desc {
  width: 350px;
  margin: 20px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
}
.cert-modal__certs {
  width: 100%;
}
.cert-modal__certs p {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
.cert-modal__certs ul {
  list-style: disc; /* вернуть точки */
  padding-left: 20px;
}
