/* corporate promo */
#corporate__promo {
  max-width: 1320px;
  width: 100%;
  background: #ffffff;
  border-radius: 28px;
  padding: 20px;
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-top: 10px;
}
.corporate__promo-icon {
  width: 650px;
  height: 580px;
}
.corporate__promo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 42%;
  max-height: 620px;
}
.corporate__promo-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 80%;
  letter-spacing: -2%;
  height: auto;
}
.corporate__promo-title span {
  color: #074e62;
}
.corporate__promo-features {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
}
.corporate__promo-feature {
  padding: 10px 20px;
  border: 2px solid #074e62;
  border-radius: 30px;
}
.corporate__promo-feature p {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}
.corporate__promo-benefits {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #f1f4f5;
  padding: 30px 20px;
  border-radius: 15px;
  width: 100%;
}
.corporate__promo-benefits-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #11586c;
}
.corporate__promo-benefits-list {
  list-style: disc;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.corporate__promo-btn {
  border-radius: 52px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -4%;
}
.corporate__promo-btn:hover {
    scale: 1.05;
}
/* segmenst */
#segments {
  max-width: 1320px;
  width: 100%;
  margin-top: 120px;
}
.segments__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.segments__item {
    background: #074e62;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.segments__item-header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px 0;
}
.segments__item-type{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #ffffff;
    width: 70%;
    text-align: left;
}
.segments__item-code{
    font-weight: 700;
    font-size: 64px;
    line-height: 85%;
    letter-spacing: -4%;
    color: #FFFFFF33;
}
.segments__item-content{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 8px;
    flex: 1;
    text-align: left;
}