/* footer */
.main_footer {
  width: 100%;
  max-width: 1320px;
  margin-top: 120px;
}
.footer__container {
  padding: 20px 40px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 16px 16px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__icon {
  width: 140px;
  height: 48px;
  background: #ffffff;
  cursor: pointer;
}
.footer_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer_nav ul li {
  display: inline-block;
  margin-right: 20px;
}
.footer_nav ul li a {
  text-decoration: none;
  color: #000;
  transition: color 0.2s;
}
.footer_nav ul li a:hover {
  color: #074e62;
}
.footer__bottom {
  background: #074e62;
  padding: 20px 40px;
  box-sizing: border-box;
  border-radius: 0 0 16px 16px;
  display: flex;
  justify-content: space-between;
}
.footer__bottom p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;

  color: #ffffff;
  cursor: pointer;
}
