@media (max-width: 768px) {
  /* common */
  body {
    width: 100vw;
  }
  .btn {
    cursor: default;
    padding: 10px 15px;
    font-size: 14px;
  }
  h1 {
    font-size: 40px;
  }
  #promo {
    width: 90%;
    border-radius: 8px;
    padding: 20px;
    min-height: 350px;
  }
  .promo__context {
    width: 100%;
  }
  .section__titles {
    font-size: 35px;
  }
  .swiper__btn {
    cursor: default;
    margin-bottom: 5px;
  }
  /* delete scale */
  .header__menu-btn:hover {
    scale: none;
  }
  .swiper__btn i:hover {
    scale: none;
  }
  .promo__context-btn:hover {
    scale: none;
  }
  .promo__flags img:hover {
    scale: none;
  }
  .faq__btn:hover {
    scale: none;
  }
  .faq__toggle:hover {
    scale: none;
  }
  .trial-form__btn:hover {
    scale: none;
  }
  .corporate__promo-btn:hover {
    scale: none;
  }
  .languages__card-btn:hover {
    scale: none;
  }
  .programs__card-btn:hover {
    scale: none;
  }
  .teacher__btn:hover {
    scale: none;
  }
  /* header */
  .header {
    width: 90%;
    border-radius: 0 0 8px 8px;
    padding: 15px;
    position: relative;
    z-index: 1001;
  }
  .header__icon {
    width: 93px;
    height: 32px;
    cursor: default;
  }
  .theme-switch {
    display: none;
  }
  .header__menu-btn {
    display: none;
  }
  .header__menu-mobile-btn {
    display: block;
  }
  /* side menu */
  .mobile-menu {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    z-index: 1001;
    border-radius: 8px;
    display: block;
  }
  .mobile-menu li {
    border-bottom: 1px solid #ccc;
  }
  .mobile-menu li:last-child {
    border-bottom: none;
  }
  .mobile-menu li a {
    display: block;
    padding: 12px 20px;
    color: #333;
    text-decoration: none;
  }
  .submenu {
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  .submenu li:last-child {
    border-bottom: none;
  }
  .submenu li a {
    padding-left: 40px;
  }
  .mobile-menu.open {
    max-height: 500px;
  }
  .submenu.open {
    max-height: 500px;
    margin-top: 0px;
  }
  /* footer */
  .main_footer {
    width: 90%;
    margin-top: 50px;
  }
  .footer__container {
    border-radius: 8px 8px 0 0;
    padding: 15px;
  }
  .footer__icon {
    width: 93px;
    height: 32px;
    cursor: default;
  }
  .footer__bottom {
    border-radius: 0 0 8px 8px;
    padding: 15px;
  }
  .footer__bottom p {
    font-size: 10px;
  }
  /* promo */
  .promo__context-title {
    font-size: 40px;
  }
  .promo__context-subtitle {
    font-size: 20px;
  }
  .promo__flags {
    display: none;
  }
  /* languages */
  #languages {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .languages__item {
    min-height: 200px;
    border-radius: 8px;
  }
  .languages__card-title {
    font-size: 30px;
  }
  .languages__content {
    padding: 20px;
  }
  /* about */
  #about {
    width: 90%;
    display: block;
    margin-top: 50px;
  }
  #about img {
    display: none;
  }
  .about__content {
    width: 100%;
  }
  .about__content-title {
    width: 100%;
    font-size: 35px;
    text-align: center;
  }
  .about__content-context {
    font-size: 18px;
    padding: 10px 0;
  }
  .about__content-items {
    margin-top: 10px;
  }
  .about__content-items i,
  .about__content-items p {
    font-size: 18px;
  }
  /* companies */
  #companies {
    width: 90%;
    margin-top: 50px;
  }
  .company {
    width: 108px;
    height: 108px;
  }
  .company img {
    width: 80px;
    height: auto;
  }
  /* reviews */
  #reviews {
    width: 90%;
    margin-top: 50px;
  }
  /* faq */
  #faq {
    width: 90%;
    margin-top: 50px;
  }
  .faq__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .faq__item-question {
    padding: 10px;
  }
  .faq__item-question p {
    font-size: 20px;
  }
  .faq__toggle {
    font-size: 24px;
    width: 38px;
    height: 38px;
  }
  .faq__item-answer.active {
    padding: 10px;
    max-height: 300px;
    opacity: 1;
    transform: all 0.5 esse;
  }
  .faq__item-answer p {
    font-size: 16px;
    transform: all 0.5 esse;
  }
  .faq__btn {
    display: none;
  }
  .faq__btn-mob {
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
  }
  /* programs */
  #programs {
    width: 90%;
    margin-top: 50px;
  }
  .programs__card img {
    width: 100%;
  }
  .programs__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  /* benefits */
  #benefits {
    width: 90%;
    margin-top: 50px;
  }
  .benefits__cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  /* methods */
  #methods {
    width: 90%;
  }
  .methods__swiper {
    display: block;
  }
  .methods__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .methods__description {
    max-height: none;
    opacity: 1;
    overflow: visible;
    padding: 10px;
  }
  .methods__card {
    border-radius: 8px;
    padding: 10px;
    min-height: 280px;
  }
  .methods__card:hover .methods__description {
    max-height: none;
    opacity: 1;
  }
  .methods__content {
    background: #074e62;
    border-radius: 8px;
  }
  .methods__content:nth-child(2n) {
    background: #ffffff;
    border-radius: 8px;
  }
  /* trial */
  #trial {
    width: 90%;
    margin-top: 50px;
    display: block;
  }
  .trial__promo {
    display: none;
  }
  .trial__content {
    border-radius: 8px;
  }
  .trial__title {
    font-size: 30px;
    text-align: center;
    height: 25px;
  }
  .trial__subtitle {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }
  .trial-form {
    margin-top: 10px;
  }
  .trial-form__input {
    height: 40px;
    border-radius: 4px;
  }
  /* teachers */
  #teachers {
    width: 90%;
    margin-top: 50px;
  }
  .teachers__nav {
    display: none;
  }
  .teachers__nav-mob {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  /* reviews */
  .reviews__nav {
    display: none;
  }
  .reviews__nav-mob {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  /* corporate */
  #corporate__promo {
    width: 90%;
    flex-direction: column;
  }
  .corporate__promo-icon {
    width: 100%;
    height: 300px;
  }
  .corporate__promo-container {
    width: 100%;
  }
  .corporate__promo-title {
    font-size: 35px;
  }
  .corporate__promo-features {
    margin: 20px 0;
  }
  .corporate__promo-feature {
    padding: 5px 10px;
  }
  .corporate__promo-benefits {
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .corporate__promo-btn {
    width: 100%;
    border-radius: 8px;
  }
  /* segments */
  #segments {
    width: 90%;
    margin-top: 50px;
  }
  .segments__item {
    height: 100%;
  }
  .segments__list .swiper-wrapper {
    display: flex;
    align-items: stretch;
  }
  .segments__list .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  .segments__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
